/* PRODUCTOS */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@0,900;1,900&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Bebas+Neue&family=Oswald:wght@500&display=swap");
.productos {
  overflow: hidden;
  z-index: 0; }
  .productos img {
    width: 50%;
    height: auto;
    border-radius: 0.3rem;
    margin: 2rem;
    cursor: pointer;
    transition: transform 0.3s; }
  .productos img:hover {
    transform: scale(1.1); }
  .productos .productos__h1 {
    display: none; }

@media (max-width: 600px) {
  .productos img {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto; } }

.submenuProductos {
  background-color: #1D0A1F;
  text-align: center;
  position: relative; }
  .submenuProductos a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Bebas Neue', cursive; }
  .submenuProductos a:hover {
    color: #B366CC; }
  .submenuProductos ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0%; }
    .submenuProductos ul li {
      text-decoration: none;
      list-style-type: none;
      display: inline; }
  .submenuProductos .linkActiveProductos {
    color: #787A91; }

.mainVacio {
  height: calc(100vh - 328px); }

.sobreNosotros__p {
  text-align: center;
  background-color: #09141B;
  color: #FFF;
  border: solid 3px #1D0A1F;
  margin: 0.5rem;
  padding: 0.5rem; }

.sobreNosotros {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px; }
  .sobreNosotros p {
    border-radius: 0.2rem; }

.sobreNosotros__p2 {
  padding: 10px;
  margin: 0%;
  text-align: right; }

.sobreNosotros__img {
  width: 500px;
  height: auto;
  padding-left: 0%;
  border-radius: 0.2rem;
  margin: 1rem auto; }

/* ESTILO GENERAL */
body {
  overflow-x: hidden;
  background-color: #000;
  color: #FFF; }
  body header {
    background-color: #000;
    color: #B366CC;
    text-align: center;
    border: 5px solid #1D0A1F;
    padding: 10px;
    position: sticky;
    top: 0px; }
    body header #logo {
      width: 9rem;
      height: auto;
      pointer-events: none; }
  body main {
    text-align: center;
    display: block;
    padding: 3%; }
  body h1 {
    color: #B366CC;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1rem;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 0.3rem; }

header {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  z-index: 2; }
  header #menuPrincipal {
    list-style-type: none; }
  header #linkActive {
    color: #787A91; }
  header #menuPrincipal a {
    text-decoration: none; }
  header #menuPrincipal a:hover {
    transform: scaleX(1.1);
    color: #B366CC !important; }
  header .productos {
    position: relative; }

footer {
  overflow: hidden; }
  footer section {
    background-color: #09141B;
    padding: 2rem; }
  footer .fa-instagram {
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #021d34 20%, #79095e 74%, #0f2f3e 100%);
    color: #FFF;
    position: fixed;
    bottom: 0%;
    border-radius: 48%; }
  footer .fa-instagram:hover {
    transform: scale(1.1); }
  footer .firma {
    color: #787A91;
    text-align: right;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px; }
  footer .firma:hover {
    color: #FFF; }

/* error 404 */
.error404 {
  background-color: #000;
  font-family: 'Inconsolata', monospace; }

#error404__h1 {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  font-size: 3.6rem;
  margin: 12rem;
  color: #6900A2; }

.error404__inicio {
  color: #17C418;
  font-size: 1.1rem; }

@media only screen and (min-width: 1000px) {
  .fa-instagram {
    display: block; }
  .igMobile {
    display: none; } }

@media only screen and (max-width: 1000px) {
  .fa-instagram {
    display: none; }
  .igMobile {
    display: block;
    margin-top: 2.1rem; }
  footer {
    position: relative;
    padding: 2rem;
    background-color: #09141B; }
  .sectionFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0%; } }

.noDisponible {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.2px;
  margin: 2rem; }

.gifDrippin {
  width: 100%;
  height: 100vh; }

.gifMobile {
  display: none;
  width: 100%;
  height: auto; }

.fraseSlogan {
  border: 2px solid #1D0A1F;
  background-color: #09141B;
  color: #FFF;
  margin: 10px 20% 0;
  padding-top: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px; }

@media only screen and (max-width: 768px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden; }
  .drippinStore {
    font-size: 40px;
    text-align: center; }
  #menuPrincipal {
    font-size: 20px;
    justify-content: center; }
  .headerIndex {
    border: solid 5px #09141B;
    background-color: #000; }
  .gifDrippin {
    display: none; }
  .gifMobile {
    display: block;
    width: 60%;
    height: 95%;
    padding: 0% auto;
    margin-top: 2rem;
    margin-left: 20%; }
  main {
    font-size: 20px; }
  .sobreNosotros {
    text-align: center; } }

@media only screen and (max-width: 425px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0; }
  .headerIndex {
    border: none;
    overflow-x: hidden; }
  .drippinStore {
    font-size: 23px;
    text-align: start; }
  .gifDrippin {
    display: none; }
  .gifMobile {
    display: block;
    width: 100%;
    height: auto;
    padding: 0% auto;
    margin: 0% auto; }
  header {
    background-color: #FFF;
    border: solid 3px #09141B; }
  main p {
    text-align: center;
    font-size: 16px; }
  footer {
    overflow-x: hidden; }
  .firma {
    font-size: 12px; } }

@media (min-width: 1024px) {
  .remeras__card {
    padding: 1.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .remeras__card .remeras__card__info {
      flex-grow: 1;
      text-align: center; }
    .remeras__card img {
      width: 250px;
      height: auto;
      border-radius: 3%;
      justify-self: center; }
  .insegurx .terapia {
    flex-direction: row-reverse; }
  .remeras__card__info {
    flex-grow: 1; }
  .insegurx {
    flex-direction: row-reverse; }
  .policia {
    flex-direction: row-reverse; } }

@media only screen and (max-width: 399px) {
  .drippinStore {
    font-size: 20px; }
  .sobreNosotros1 {
    width: 250px;
    height: auto; } }

@media only screen and (max-width: 420px) {
  .seccionGaleriaMobile {
    height: calc(100vh - 270px); }
  .carousel-inner {
    margin: 1rem auto; } }

.carouselGaleria {
  width: 50%;
  height: auto;
  justify-self: center; }

.contenedorCarousel {
  width: 100vw; }
  .contenedorCarousel .contenedorCarousel__img {
    width: 40%;
    display: flex;
    justify-content: center; }

.carousel-control-prev, .carousel-control-next {
  z-index: 0; }

.carousel-indicators {
  z-index: 1 !important; }

.seccionContacto {
  width: 70%;
  margin: 0.3rem auto;
  padding: 3rem;
  background-color: #09141B;
  border-radius: 1rem;
  font-family: 'Oswald', sans-serif; }
  .seccionContacto form {
    text-align: center; }
    .seccionContacto form label {
      display: inline-block;
      width: 60%;
      margin: 0.5rem auto;
      text-align: left; }
    .seccionContacto form .contacto__enviar {
      padding: 0.5rem;
      margin-top: 2rem; }
    .seccionContacto form .contacto__enviar:hover {
      border: solid 2px #FFF;
      border-radius: 0.4rem; }
    .seccionContacto form input, .seccionContacto form textarea {
      width: 60%;
      margin: 0.2rem;
      padding: 0.3rem;
      border: none;
      border-bottom: 2px solid #FFF;
      background-color: #09141B;
      color: #FFF;
      letter-spacing: 0.1rem;
      font-size: 1rem; }
    .seccionContacto form textarea {
      height: 8rem;
      resize: none; }

@media only screen and (max-width: 425px) {
  .seccionContacto {
    width: 100%; } }

.mainRemeras {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%; }

.remeras__card {
  width: 100%;
  padding: 1.3rem;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif; }
  .remeras__card .selectTalle {
    width: auto; }
  .remeras__card .remeras__card__info {
    text-align: center; }
    .remeras__card .remeras__card__info div {
      display: flex;
      justify-content: center; }
  .remeras__card img {
    width: 350px;
    height: auto;
    border-radius: 3%; }

.empty {
  background-color: #C400FA;
  color: #FFF; }

.insegurx {
  background-color: #FFE100;
  color: #000; }

.terapia {
  background-color: #D40068;
  color: #FFF; }

.policia {
  background-color: #2770F5;
  color: #000;
  text-align: center; }

.remeras__card__info {
  text-align: center; }

.remeras__h1 {
  display: none; }
