/* .formularioContacto{
    background-color: map-get($map: $colores-base, $key:azul);
}
.formularioContacto h3{
    text-align:left
}
#navbarBurguer{
    background-color: map-get($map: $colores-base, $key:negro);
} */

.seccionContacto{
    width: 70%;
    margin: 0.3rem auto;
    padding: 3rem;
    background-color: map-get($map: $colores-base, $key: azul);
    border-radius: 1rem;
    font-family: 'Oswald', sans-serif;
    form{
        text-align: center;
        label{
            display: inline-block;
            width: 60%;
            margin: 0.5rem auto;
            text-align: left;
        }
        .contacto__enviar{
            padding: 0.5rem;
            margin-top: 2rem;

        }
        .contacto__enviar:hover{
            border: solid 2px map-get($map: $colores-base, $key: blanco);
            border-radius: 0.4rem;
        }

        input, textarea{
            width: 60%;
            margin: 0.2rem;
            padding: 0.3rem;
            border: none;
            border-bottom: 2px solid map-get($map: $colores-base, $key: blanco);
            background-color: map-get($map: $colores-base, $key: azul);
            color: map-get($map: $colores-base, $key:blanco);
            letter-spacing: 0.1rem;
            font-size: 1rem;
        }
        textarea{
            height: 8rem;
            resize: none;
        }
        
    }

}