.carouselGaleria{
    width: 50%;
    height: auto;
    justify-self: center;
}
  
$carousel-control-transition: 2s ease;

.contenedorCarousel{
    width: 100vw;
    .contenedorCarousel__img{
        width: 40%;
        display: flex;
        justify-content: center;
    }
}

.carousel-control-prev, .carousel-control-next{
    z-index: 0;
}

.carousel-indicators{
    z-index: 1 !important;
}