.carouselGaleria{
    width: 50%;
    height: auto;
    justify-self: center;
}
.carousel{
    z-index: -1;
}
  
$carousel-control-transition: 2s ease;

.contenedorCarousel{
    width: 100vw;
    position: relative;
    .contenedorCarousel__img{
        width: 40%;
        display: flex;
        justify-content: center;
    }
}