/* ESTILO GENERAL */

body{
    overflow-x: hidden;
    background-color: map-get($map: $colores-base, $key: negro);
    color: map-get($map: $colores-base, $key: blanco);
    header{
        #logo{
            width: 9rem;
            height: auto;
            pointer-events: none;
        }

        background-color: map-get($map: $colores-base, $key: negro);
        color: $color-titulos;
        text-align: center;
        border: 5px solid $color-principal;
        padding: 10px;
        position: sticky;
        top:0px
    }
    main{
        text-align: center;
        display: block;
        padding: 3%;
    }
    h1{
        color: $color-titulos;
        font-family: 'Bebas Neue', cursive;
        margin-top: 1rem;
        text-decoration: underline;
        text-align: center;
        letter-spacing: 0.3rem;
    }
}

header{
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    #menuPrincipal{
        list-style-type: none;
    }
    #linkActive{
        color: #787A91;
    }
    #menuPrincipal a{
        text-decoration: none;
    }
    #menuPrincipal a:hover{
        transform: scaleX(1.1);
        color: #B366CC !important;
    }
    .productos{
        position: relative;
    }
    .subMenuProductos{
        display: none;
        position: absolute;
        top: px;
        left: 0px;
        list-style: none;
        margin: 1px;
        padding: 15px 50px;
        border: 4px solid $color-principal;
        background-color: map-get($map: $colores-base, $key: negro);
        color: map-get($map: $colores-base, $key: blanco );
    }
    .subMenuProductos a{
        text-decoration: none;
        color: map-get($map: $colores-base, $key: blanco );
    }
    .productos:hover .subMenuProductos { display: block; }
    .subMenuProductos li{
        display: block;
    }
    
}

footer{
    overflow: hidden;
    section{
        background-color: $color-secundario;
        padding: 2rem;
    }
    .fa-instagram{
        font-size: 3rem;
        padding: 0.5rem;
        margin: 0.5rem;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,29,52,1) 20%, rgba(121,9,94,1) 74%, rgba(15,47,62,1) 100%);
        color: map-get($map: $colores-base, $key: blanco);
        position: fixed;
        bottom: 0%;
        border-radius: 48%;
    }
    .fa-instagram:hover{
        transform:scale(1.1);
    }
    .firma{
        color: map-get($map: $colores-base, $key: gris);
        text-align: right;
        text-decoration: none;
        font-family:'Bebas Neue', cursive;
        letter-spacing: 1px;
    }
    .firma:hover{
        color: map-get($map: $colores-base, $key: blanco);
    }
}

/* error 404 */

.error404{
    background-color: map-get($map: $colores-base, $key: negro);
    font-family: 'Inconsolata', monospace;
}
#error404__h1{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    font-size: 3.6rem;
    margin: 12rem;
    color: #6900A2;
}
.error404__inicio{
    color: #17C418;
    font-size: 1.1rem;
}