
/* PRODUCTOS */
.productos{
    overflow: hidden;
    z-index: 0;
    img{
        width: 50%;
        height: auto;
        border-radius: 0.3rem;
        margin: 2rem;
        cursor: pointer;
        transition: transform 0.3s;
    }

    img:hover{
        transform: scale(1.1);
    }
}

@media (max-width: 600px){
    .productos{
        img{
            width: 90%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }    
}







.productos__card{
    width: 100%;
    padding: 1.3rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;


    .selectTalle{
        width: auto;
    }

    .productos__card__info{
        text-align: center;
        div {
            display: flex;
            justify-content: center;
        }
    }

    img{
        width: 350px;
        height: auto;
        border-radius: 3%;
    }
}

.empty{
    background-color: #C400FA;
    color: map-get($map: $colores-base, $key: blanco);
}

.insegurx{
    background-color:#FFE100;
    color: map-get($map: $colores-base, $key: negro);
}

.terapia{
    background-color: #D40068;
    color: map-get($map: $colores-base, $key: blanco);
}

.policia{
    background-color: #2770F5;
    color: map-get($map: $colores-base, $key: negro);
    text-align: center;
}

.productos__card__info{
    text-align: center;
}

.productos__h1{
    display: none;
}
