$color-principal: #1D0A1F;
$color-secundario: #09141B;
$color-titulos: #B366CC;


@mixin flexbox ($direction, $wrap, $justify, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexboxProductos ($direction, $wrap, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
}

$colores-base:(
    negro: #000,
    blanco: #FFF,
    gris: #787A91,
    azul: #09141B
);