$color-principal: #1D0A1F;
$color-secundario: #09141B;
$color-titulos: #B366CC;

@mixin flexbox ($direction, $wrap, $justify, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexboxProductos ($direction, $wrap, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
}

@mixin cuadro-texto ($margin, $padding){
    text-align: center;
    background-color: $color-secundario;
    color: map-get($map: $colores-base, $key:blanco);
    border: solid 3px $color-principal;
    margin: $margin;
    padding: $padding;
    
}

$colores-base:(
    negro: #000,
    blanco: #FFF,
    gris: #787A91,
    azul: #09141B,
);

