@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@0,900;1,900&family=Open+Sans&display=swap');

*{
    margin:0 ;
    padding: 0 ;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/*Estilo general*/

body {
    background-color: #000;
    color:#FFFF;
}

body header{
    background-color: black;
    color: #B366CC;
    text-align: center;
    border: 5px solid #1D0A1F;
    padding: 10px;
    margin: 0% auto;
    position: sticky;
    top:0px;
    z-index: 1;
}

.headerIndex{
    background-color: #000;
    color:#B366CC;
    text-align: center;
    border: 5px solid #000;
    padding: 10px;
    position: sticky;
    top:0px
}

.drippinStore{
    font-family: 'merriweather', serif;
    text-align: left;
    font-size: 35px;
    font-style: italic;
    letter-spacing: 3px;
}

h1{
    color:#B366CC;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 3;
}

main{
    text-align: center;
    display: block;
    padding: 3%;
}

#menuPrincipal{
    list-style-type: none;
}

#linkActive{
    color: #787A91;
}

#menuPrincipal a{
    text-decoration: none;
}

#menuPrincipal a:hover{
    transform: scaleX(1.1);
    color: #B366CC !important;
}

.productos{
    position: relative;
}

.subMenuProductos{
    display: none;
    position: absolute;
    top: px;
    left: 0px;
    list-style: none;
    margin: 1px;
    padding: 15px 50px;
    border: 4px solid #1D0A1F;
    background-color: #000;
    color: #FFFF;
}

.subMenuProductos a{
    text-decoration: none;
    color: #FFFF;
}

.productos:hover .subMenuProductos{display: block;}

.subMenuProductos li{
    display: block;
}
/*index*/

.gifDrippin{
    width: 100%;
    height: 100vh;
}

.gifMobile{
    display: none;
    width: 100%;
    height: auto;
}

.fraseSlogan{
    border: 2px solid #1D0A1F;
    background-color: #09141B;
    color: #FFFF;
    margin: 10px 20% 0;
    text-align: center;
}


/* comienzo media query */

@media only screen and (max-width: 768px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .drippinStore{
        font-size: 40px;
        text-align: center;
    }
    #menuPrincipal{
        font-size: 20px;
        justify-content: center;
    }
    .headerIndex{
        border: solid 5px #09141B;
        background-color: black;
    }
    .gifDrippin{
        display: none;
    }

    .gifMobile{ 
        display: block;
        width: 60%;
        height: 95%;
        padding: 0% auto;
        margin-top: 2rem;
        margin-left: 20%;
    }
    main{
        font-size: 20px;
    }
    .sobreNosotros{
        text-align: center;
    }
}

@media only screen and (max-width: 425px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .headerIndex{
        border: none;
        overflow-x: hidden;

    }

    .drippinStore{
        font-size: 23px;
        text-align:start;
    }
    .gifDrippin{
        display: none;
    }

    .gifMobile{ 
        display: block;
        width: 100%;
        height: auto;
        padding: 0% auto;
        margin: 0% auto;
    }
    header{
        background-color: white;
        border: solid 3px #09141B;
    }

    main p{
        text-align:center;
        font-size: 16px;
    }
    /*FOOTER MOBILE*/
    
    footer{
        overflow-x: hidden;
    }
    
    
    .fa-instagram{
        font-size: 1.7rem;
        margin-bottom: 1.8rem;
    }

    .firma{
        font-size: 12px;
    }
}

/* fin media query */

/*productos*/
.seccionProductos{
    display: none;
}


/*sobre nosotros*/

.sobreNosotros1{
    width: 500px;
    height: auto;
}

/*GALERIA*/
.carouselGaleria{
    width: 500px;
    height: auto;
}

.carousel{
    z-index: -1;
}

/*CONTACTO*/

.formularioContacto{
    background-color: #09141B;
}

.formularioContacto h3{
    text-align:left
}


#navbarBurguer{
    background-color: black;
}


@media only screen and (max-width: 399px){
    .drippinStore{
        font-size: 20px;
    }
    .sobreNosotros1{
        width: 250px;
        height: auto;
    }
}

/* error 404 */

.error404{
    background-color: #000;
    font-family: 'Inconsolata', monospace;
}

#error404__h1{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    font-size: 3.6rem;
    margin: 12rem;
    color: #6900A2;
}

.error404__inicio{
    color: #17C418;
    font-size: 1.1rem;
}

